body{
    background-color: rgb(24, 23, 23);
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}
div{
    margin: auto;
    text-align: center;
    background-color: black;
    color: antiquewhite;
    max-width: 350px;
    border-radius: 20px;
    padding: 1%;
}